.tel{
    text-align: left;
}
.texd {
    text-align: right;
}
.bacfoo{
    width: 70%; 
    background-color: rgba(30, 34, 39, 0.711);
}
h4,h6,p{
    color: white;
}
h1{
    text-align: center;
}
.micard {
    top: 150px;
    width: 100%;
    position: absolute;    
}
.stil{      
    font-size:40px;
    color:rgb(20, 60, 238);
}
.icons{
    color: white;
}
.logo{
    position: fixed;
    left: 45%;
}

.lastdiv{
    width: 75%;
    background-color: white;
}
